
<div class="well" style="margin-top:40px">
    <form action="/home/Results">
        <br/>
        <input type="text" placeholder="Enter some text" class="form-control" name="text"/>
        <br/>
        <button class="btn btn-primary">Submit</button>
        <br/>
    </form>
</div>
